@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  background: rgb(2, 12, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 12, 36, 1) 0%,
    rgba(15, 49, 143, 1) 100%
  );
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
